@keyframes flashTriangle {
  to {
    visibility: hidden;
  }
}

.pkmLink {
  color: rgb(38, 139, 210);
  text-decoration: underline;
  font-weight: bold;
  position: relative;
}

.pkmLink:hover::before {
  content: "";
  display: inline-block;
  margin-right: 5px; /* Adjust spacing between triangle and text */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 12px; /* Style the triangle */
  border-color: transparent transparent transparent #000000;
  animation: flashTriangle 1s steps(2, start) infinite;
}
