@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: rgb(253, 246, 227);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.solarized-base03 {
  color: rgb(0, 43, 54);
}

.solarized-base02 {
  color: rgb(7, 54, 66);
}

.solarized-base01 {
  color: rgb(88, 110, 117);
}

.solarized-base00 {
  color: rgb(101, 123, 131);
}

.solarized-base0 {
  color: rgb(131, 148, 150);
}

.solarized-base1 {
  color: rgb(147, 161, 161);
}

.solarized-base2 {
  color: rgb(238, 232, 213);
}

.solarized-base3 {
  color: rgb(253, 246, 227);
}

.solarized-yellow {
  color: rgb(181, 137, 0);
}

.solarized-orange {
  color: rgb(203, 75, 22);
}

.solarized-red {
  color: rgb(220, 50, 47);
}

.solarized-magenta {
  color: rgb(211, 54, 130);
}

.solarized-violet {
  color: rgb(108, 113, 196);
}

.solarized-blue {
  color: rgb(38, 139, 210);
}

.solarized-cyan {
  color: rgb(42, 161, 152);
}

.solarized-green {
  color: rgb(133, 153, 0);
}
